#![MetS Image](data/metS-g002.jpg)

Images:  https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9479724/

https://www.urmc.rochester.edu/encyclopedia/

https://www.nhlbi.nih.gov/health/metabolic-syndrome/diagnosis

https://my.clevelandclinic.org/health/diseases/10783-metabolic-syndrome

# Metabolic Syndrome Prediction
Project 4


*Christina Brockway*

## Business Understanding


**Stakeholder Needs:**
To use a machine learning model and look at common risk factors to predict the likelihood of someone having metabolic syndrome.


**Metaolic Syndrome Prediction** 
-  Other names:  Syndrom X, Insulin Resistance Syndrome, Dysmetabolic Syndrome
-  A cluster of conditions that cause and increased risk for heart disease, stroke, and diabetes
  
According to the Mayo Clinic, metabolic syndrome will  cause an increase in the risk of heart disease, stroke, and type 2 diabetes.  This syndrome is caused by the presence of multiple risk factors such as body mass index, waist circumference, cholesterol levels, age,  and other various factors.  The National Heart, Lung, and Blood Institue says the syndrome is found in about 1 in 3 adults making it farily common. A diagnosis of metabolic syndrome, although eye opening, doesn't mean patients are definitively getting diabetes or having a stroke. With the right diet and healthy lifestyle changes, metabolic syndrome is preventable, thus showing the importantance of identifying it. 

The goal of this projest is to use a series of risk factors, and create a model that can predict the likihood of metabolic syndrome in patients. The dataset provided came from the NHANES initiative.  It contains variables including: waist circumference, triglyerades, cholesterol levels, race, income, uric acid levels, age, gender, marital status, income level, body mass index, urine albumin grades and rates, and blood glucose levels.

The target for this dataset is the metabolicsyndrome feature.  SEQN will be set as the index as it is a unique identifier.  There are 2401 records representing a person and their attributes of which there are 13. There are some columns that have null values needing to be imputed. The feature 'uralbcr' was not defined and and assumption was made as to what is being represented based on the NIH and Cleavland Clinic websites. On first glance there don't appear to be any chanllenges with the dataset that would interfere with modeling.

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky" colspan="5"><span style="font-weight:bold;font-style:italic">Data Dictionary for Metabolic Syndrome Dataset </span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Feature</span></td>
    <td class="tg-0pky"><span style="font-weight:bold">dtype</span></td>
    <td class="tg-0pky"><span style="font-weight:bold">Expected Range</span></td>
    <td class="tg-0pky"><span style="font-weight:bold">Definition</span></td>
    <td class="tg-0pky"><span style="font-weight:bold;font-style:italic">cat, num, ord</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold;font-style:italic">seqn</span></td>
    <td class="tg-0pky">int</td>
    <td class="tg-0pky">#</td>
    <td class="tg-0pky">sequential identification number</td>
    <td class="tg-0pky"><span style="font-weight:bold;font-style:italic">Index?</span></td>
  </tr>
  <tr>
    <td class="tg-0pky">age</td>
    <td class="tg-0pky">int</td>
    <td class="tg-0pky">20-80</td>
    <td class="tg-0pky">age of individual<br></td>
    <td class="tg-0pky">num</td>
  </tr>
  <tr>
    <td class="tg-0pky">sex</td>
    <td class="tg-0pky">str</td>
    <td class="tg-0pky">Male<br>Female</td>
    <td class="tg-0pky">gender of individual</td>
    <td class="tg-0pky">cat</td>
  </tr>
  <tr>
    <td class="tg-0pky">marital</td>
    <td class="tg-0pky">str</td>
    <td class="tg-0pky">Married<br>Single<br>Divorced<br>Widowed<br>Separated</td>
    <td class="tg-0pky">marital status</td>
    <td class="tg-0pky">cat</td>
  </tr>
  <tr>
    <td class="tg-0pky">income</td>
    <td class="tg-0pky">int</td>
    <td class="tg-0pky">#</td>
    <td class="tg-0pky">income information</td>
    <td class="tg-0pky">num</td>
  </tr>
  <tr>
    <td class="tg-0pky">race</td>
    <td class="tg-0pky">str</td>
    <td class="tg-0pky">Other<br>MexAmerican<br>Hispanic<br>Asian<br>Black<br>White</td>
    <td class="tg-0pky">race of individual</td>
    <td class="tg-0pky">cat</td>
  </tr>
  <tr>
    <td class="tg-0pky">waistcirc</td>
    <td class="tg-0pky">float</td>
    <td class="tg-0pky">risk factor(cm): Men, Women<br>low: &lt; 94m,&nbsp;&nbsp;80w<br>high: 94-102m, 80-88w<br>very high: &gt; 102m, 88w</td>
    <td class="tg-0pky">Circumference of the waist</td>
    <td class="tg-0pky">num</td>
  </tr>
  <tr>
    <td class="tg-0pky">bmi</td>
    <td class="tg-0pky">float</td>
    <td class="tg-0pky">Underweight:&lt; 18.5<br>Normal:18.5-24.9<br>Overweight: 25-29.9<br>Obese: &gt; 30<br></td>
    <td class="tg-0pky">body mass index, a measurement of body composition using height and weight </td>
    <td class="tg-0pky">num</td>
  </tr>
  <tr>
    <td class="tg-0pky">albuminuria</td>
    <td class="tg-0pky">int</td>
    <td class="tg-0pky">0<br>1<br>2</td>
    <td class="tg-0pky">aka proteinuria<br>a scale grading levels of albumin in urine<br><span style="font-weight:bold">A1: &lt;10-30 Normal or mildly elevated </span><br><span style="font-weight:bold">A2:  30-300 moderately elevated</span><br><span style="font-weight:bold">A3:  &gt;300 albuminuria</span></td>
    <td class="tg-0pky">ord<br></td>
  </tr>
  <tr>
    <td class="tg-0pky">uralbcr</td>
    <td class="tg-0pky">float</td>
    <td class="tg-0pky">A1: &lt;30 Normal or mildly elevated <br>A2:  30-300 moderately elevated<br>A3:  &gt;300 albuminuria<br></td>
    <td class="tg-0pky">actual levels of albumin in urine</td>
    <td class="tg-0pky">num</td>
  </tr>
  <tr>
    <td class="tg-0pky">uricacid</td>
    <td class="tg-0pky">float</td>
    <td class="tg-0pky">Normal female: &gt;6mg/dL<br>Normal male: &gt;7 mg/dL</td>
    <td class="tg-0pky">measures amount of uric acid in blood<br>Uric acid is a normal body waste product<br>too high may mean kidneys are not working properly</td>
    <td class="tg-0pky">num</td>
  </tr>
  <tr>
    <td class="tg-0pky">bloodglucose</td>
    <td class="tg-0pky">int</td>
    <td class="tg-0pky">Normal 80-130mg/dL</td>
    <td class="tg-0pky">Level of glucose in blood<br>too low or too high indicated blood sugar control issues</td>
    <td class="tg-0pky">num</td>
  </tr>
  <tr>
    <td class="tg-0pky">hdl</td>
    <td class="tg-0pky">int</td>
    <td class="tg-0pky">Normal male:  &lt; 40mg/dL <br>Normal female: &lt;50mg/dL</td>
    <td class="tg-0pky">"good" cholesterol levels in blood<br>a lower HDL means higher risk for heart attack</td>
    <td class="tg-0pky">num</td>
  </tr>
  <tr>
    <td class="tg-0pky">triglycerides</td>
    <td class="tg-0pky">int</td>
    <td class="tg-0pky">150-199 mg/dL borderline<br>200-499 mg/dL high<br>&gt;500 mg/dL very high</td>
    <td class="tg-0pky">amount of triglycerides in blood<br>high levels means risk for stroke or heart attack</td>
    <td class="tg-0pky">num</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold;font-style:italic">metabolicsyndrome</span></td>
    <td class="tg-0pky">str</td>
    <td class="tg-0pky">No MetSyn<br>MetSyn</td>
    <td class="tg-0pky">does the individual have metabolic syndrome</td>
    <td class="tg-0pky"><span style="font-weight:bold;font-style:italic">target</span></td>
  </tr>
</tbody>
</table>

**Using the dataset found on Dataworld:** 
https://data.world/informatics-edu/metabolic-syndrome-prediction

### Task: 

* Explore/clean the data
* Exploratory Visualizations
    *  Search for trends
*  Choose a model
    *  Preprocess data
    *  Fit and evaluated a default model
    *  Extract and visualize the top 10 features using permutation importance
    *  Answer: Do these features make sense based on the business case?
* Create explanatory visualizations for the most important features
    *  Select 2 of the top 10 features from permutation importances and produce explanatory visualizations showing relationship to the target
    *  Demonstrate key trends  that are intrest to a stkeholder
       - add these to readme

### Load Dataset

#### Imports

In [1]:
# Imports
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import missingno as msno

##Preprocessing
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_selector, ColumnTransformer

##Models
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

#Metrics
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, classification_report, confusion_matrix, ConfusionMatrixDisplay

# Set pandas as the default output for sklearn
from sklearn import set_config
set_config(transform_output='pandas',
           display='diagram')

In [2]:
#Define Custom Functions

def classification_metrics(y_true, y_pred, label='',
                           output_dict=False, figsize=(8,4),
                           normalize='true', cmap='Blues',
                           colorbar=False):
    # Get the classification report
    report = classification_report(y_true, y_pred)
    ## Print header and report
    header = "-"*70
    print(header, f" Classification Metrics: {label}", header, sep='\n')
    print(report)
    ## CONFUSION MATRICES SUBPLOTS
    fig, axes = plt.subplots(ncols=2, figsize=figsize)
    # create a confusion matrix  of raw counts
    ConfusionMatrixDisplay.from_predictions(y_true, y_pred,
                normalize=None, cmap='gist_gray', colorbar=colorbar,
                ax = axes[0],);
    axes[0].set_title("Raw Counts")
    # create a confusion matrix with the test data
    ConfusionMatrixDisplay.from_predictions(y_true, y_pred,
                normalize=normalize, cmap=cmap, colorbar=colorbar,
                ax = axes[1]);
    axes[1].set_title("Normalized Confusion Matrix")
    # Adjust layout and show figure
    fig.tight_layout()
    plt.show()
    # Return dictionary of classification_report
    if output_dict==True:
        report_dict = classification_report(y_true, y_pred, output_dict=True)
        return report_dict


def evaluate_classification(model, X_train, y_train, X_test, y_test,
                         figsize=(6,4), normalize='true', output_dict = False,
                            cmap_train='Blues', cmap_test="Reds",colorbar=False):
    # Get predictions for training data
    y_train_pred = model.predict(X_train)
    # Call the helper function to obtain regression metrics for training data
    results_train = classification_metrics(y_train, y_train_pred, #verbose = verbose,
                                     output_dict=True, figsize=figsize,
                                         colorbar=colorbar, cmap=cmap_train,
                                     label='Training Data')
    print()
    # Get predictions for test data
    y_test_pred = model.predict(X_test)
    # Call the helper function to obtain regression metrics for test data
    results_test = classification_metrics(y_test, y_test_pred, #verbose = verbose,
                                  output_dict=True,figsize=figsize,
                                         colorbar=colorbar, cmap=cmap_test,
                                    label='Test Data' )
    if output_dict == True:
        # Store results in a dataframe if ouput_frame is True
        results_dict = {'train':results_train,
                    'test': results_test}
        return results_dict

In [27]:
data = pd.read_csv("data/Metabolic  Syndrome.csv")
data = data.set_index('seqn')
data.head()

,Age,Sex,Marital,Income,Race,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides,MetabolicSyndrome
seqn,,,,,,,,,,,,,,
62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,No MetSyn
62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,No MetSyn
62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,No MetSyn
62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,No MetSyn
62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,No MetSyn

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2401 entries, 62161 to 71915
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                2401 non-null   int64
 1   Sex                2401 non-null   object
 2   Marital            2193 non-null   object
 3   Income             2284 non-null   float64
 4   Race               2401 non-null   object
 5   WaistCirc          2316 non-null   float64
 6   BMI                2375 non-null   float64
 7   Albuminuria        2401 non-null   int64
 8   UrAlbCr            2401 non-null   float64
 9   UricAcid           2401 non-null   float64
 10  BloodGlucose       2401 non-null   int64
 11  HDL                2401 non-null   int64
 12  Triglycerides      2401 non-null   int64
 13  MetabolicSyndrome  2401 non-null   object
dtypes: float64(5), int64(5), object(4)
memory usage: 281.4+ KB

### Explore Data:

#### Check for Duplicates

In [29]:
df=data.copy()

In [30]:
df.duplicated().sum()

0

In [31]:
df.shape

(2401, 14)

#### Check for null values

In [32]:
df.isna().sum()

Age                    0
Sex                    0
Marital              208
Income               117
Race                   0
WaistCirc             85
BMI                   26
Albuminuria            0
UrAlbCr                0
UricAcid               0
BloodGlucose           0
HDL                    0
Triglycerides          0
MetabolicSyndrome      0
dtype: int64

#### Check for Unique Values

In [33]:
df.nunique()

Age                    61
Sex                     2
Marital                 5
Income                 14
Race                    6
WaistCirc             635
BMI                   322
Albuminuria             3
UrAlbCr              1383
UricAcid               88
BloodGlucose          187
HDL                    93
Triglycerides         345
MetabolicSyndrome       2
dtype: int64

***Initial Observations***
* There are 2401 rows
* There are 13 features
* seqn was set as index
* Marital, WaistCirc, Income, and BMI have null values
* There are the expected number of unique values for the features
* There are the following dtypes:
  * float64(5), int64(5), object(4)
  * aAlbuminaria ?

In [34]:
df.describe()

,Age,Income,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides
count,2401.000000,2284.000000,2316.000000,2375.000000,2401.000000,2401.000000,2401.000000,2401.000000,2401.000000,2401.000000
mean,48.691795,4005.253940,98.307254,28.702189,0.154102,43.626131,5.489046,108.247813,53.369429,128.125364
std,17.632852,2954.032186,16.252634,6.662242,0.422780,258.272829,1.439358,34.820657,15.185537,95.322477
min,20.000000,300.000000,56.200000,13.400000,0.000000,1.400000,1.800000,39.000000,14.000000,26.000000
25%,34.000000,1600.000000,86.675000,24.000000,0.000000,4.450000,4.500000,92.000000,43.000000,75.000000
50%,48.000000,2500.000000,97.000000,27.700000,0.000000,7.070000,5.400000,99.000000,51.000000,103.000000
75%,63.000000,6200.000000,107.625000,32.100000,0.000000,13.690000,6.400000,110.000000,62.000000,150.000000
max,80.000000,9000.000000,176.000000,68.700000,2.000000,5928.000000,11.300000,382.000000,156.000000,1562.000000

In [35]:
df.describe(exclude='number')

           Sex  Marital   Race MetabolicSyndrome
count     2401     2193   2401              2401
unique       2        5      6                 2
top     Female  Married  White         No MetSyn
freq      1211     1192    933              1579

In [ ]:
check tryglycerides 1562
156 HDL
5982 uralbcr